<launch>
    <arg name="main_node_name" />

    <param name="/use_sim_time" value="false" />

    <rosparam command="load" file="$(find stage_frontier_datagen)/config/costmap.yaml" ns="$(arg main_node_name)" />
    <rosparam command="load" file="$(find stage_frontier_datagen)/config/pose_follower.yaml" ns="$(arg main_node_name)" />
    <rosparam command="load" file="$(find stage_frontier_datagen)/config/path_smoothing.yaml" ns="$(arg main_node_name)" />
</launch>